body {
	font-family: arial;
	text-align: center;
	background: yellow;
}

h1 {
	font-size: 34px;
	color: blue;
	font-family: arial;
}

h2, h3, h4 {
	color: blue;
}

ul, ol, h4 {
	text-align: left;
}

.mojito1 {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.cadre {
	background: lightgreen; 
	margin: 40px;
	padding: 50px;
	border: 5px solid orange;
	border-radius: 5px;
}

.prod1 {
	width: 300px;
	height: 150px;
	object-fit: cover;
}

.bouton {
	display: inline-block;
	margin: 15px;
	border: 1px solid white;
	border-radius: 5px;
	color: black;
	background: yellow;
	box-shadow: 5px 5px 10px grey; /*mettre des ombres*/
	padding: 15px;
	text-decoration: none; /*enlever le souligné*/

}

.bouton:hover {
	background: white;
}

.line-trans {
	background: grey;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.line-dark {
	background: #256A03;
	height: 20px;
	width: 50%;
}

.line-medium {
	background: #59A933;
	height: 20px;
	width: 30%;
}

.line-light {
	background: #A5E188;
	height: 20px;
	width: 20%;
}

.a-cote {
	display: flex;
	justify-content: space-around;
	align-items: center;
}